.b-cardContainer{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 0;
    overflow: hidden;
    background: transparent;
    overflow: hidden;
    border-radius: 20px;
 
}

.box {
    width: 300px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    border-radius: 20px;
  }
  

.b-card{
    display: flex;
    width: 600px;
    justify-content: center;
    height: auto;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
    background-image: url(https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg);
    background-size: cover;
    transition: all .8s;
    color: rgb(250, 250, 250);
}

.b-card:hover{
    background-position: left bottom;
    color: rgb(250, 250, 250);
    border: none;
    box-shadow: 0 0 20px rgb(7, 0, 0);
    background-image: url(https://cdn.pixabay.com/photo/2014/11/30/07/18/star-551238_960_720.jpg);
}


.b-card--title{
    border-right: 1px #ddd;
    padding: 20px;
    text-align: center;
}


.b-card--img{
    border-radius: 30%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    margin: 20px 30px;
    transition: .2s;
    height: 300px;
}

.b-cardText{
   margin-bottom: 50px;
}

.b-button{
    padding: 10px 35px;
    background-color: transparent;
    outline: none;
    transition: .6s ease;
    border: 1px solid rgba(255, 249, 249, 0.76);
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
    justify-content: center;
    
}

.b-button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    font-weight: bold;
}



