<div class="b-cardContainer">
    <div class="b-card" >
        <div class="b-card--title">
            <img class="b-card--img" src="{{personDetail.image}}" alt="{{personDetail.name}}">
            <h2 >{{personDetail.name}}</h2>
            <p >{{personDetail.status}}</p>
            <p >{{personDetail.species}}</p>
            <p >{{personDetail.gender}}</p>
            <p class="b-cardText">{{personDetail.location.name}}</p>
            <a class="b-button" routerLink="/characters">Go back</a>
        </div>
       
    </div>
</div>




