
<section id="home" class="b-home">
    <div class="b-homeMain">
        <h2 class="b-titleHome">  Discover the adventures of Rick and Morty</h2>
        <button class="b-homeBtn">
            More
        </button>
    </div>
</section>