
.b-home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.726);
    // height: 840px;
    justify-content: center;
    align-items: center;
    color: rgba(22, 2, 2, 0.836);
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url( https://wallpapercave.com/wp/wp3277744.jpg) no-repeat center center/cover;
    height: 1000px;
    width: 100%;
     z-index: -1;
    // opacity: 0.8;
}

.b-homeMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
}

.b-titleHome{
    font-family: cinzel;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    color: rgba(255, 255, 255, 0.918);
}

.b-homeBtn{
    padding: 10px 35px;
    background-color: transparent;
    outline: none;
    transition: .6s ease;
    border: 1px solid rgba(7, 7, 7, 0.76);
    color: rgb(209, 207, 207);
}

.b-homeBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    font-weight: bold;
}