<div class="b-cardContainer">
    <div class="b-card" *ngFor= 'let data of list' routerLink='/characters/{{data.id}}'>
        <div class="b-card--title">
            <img class="b-card--img" src="{{data.image}}" alt="{{data.name}}">
            <h2 class="b-card--name">{{data.name}}</h2>
        </div>
    <div>
</div>

