.b-services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.b-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.b-services__box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(0, 0, 0) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
    background-image: url(https://cdn.pixabay.com/photo/2021/08/18/19/23/background-6556393_960_720.jpg);
}

.b-services__box:hover{
    background-position: left bottom;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 20px rgb(7, 0, 0);
    background-image: url(https://cdn.pixabay.com/photo/2014/11/30/07/18/star-551238_960_720.jpg);
}
