<section id="services" class="b-services">
    
    <div class="b-row">
        <div class="b-services__box">
            <h1 class="b-titleHome"> Justin Roiland</h1>
            <p>
                Justin Roiland creció en un huerto de almendros en Manteca (California).
             Estudió en la Escuela Secundaria Sierra y en la Escuela Preparatoria de Manteca. 
                Se graduó en 1998.A principios de 2004, se involucró con Channel101, un medio colectivo
                 oriundo de Los Ángeles donde realizó y actuó en numerosos cortometrajes de cine como The Show 
                 y la Cámara de Cosbys.

                A largo de su carrera ha puesto la voz de distintos personajes como Oscar en Pecezuelos
                y El Conde de Limoncio en Hora de aventura .
            </p>
        </div>
        <div class="b-services__box">
            <h1 class="b-titleHome"> INFORMATION</h1>
            <p>
                Rick y Morty (en inglés: Rick and Morty) es una serie de televisión estadounidense de animación para
                adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim. La serie sigue las desventuras 
                de un científico, Rick, y su fácilmente influenciable nieto, Morty, quienes pasan el tiempo entre la vida 
                doméstica y los viajes espaciales, temporales e intergalácticos. Roiland es el encargado de darle voz a Rick
                y a Morty, la serie también incluye las voces de Chris Parnell, Spencer Grammer y Sarah Chalke.
            </p>
        </div>
        <div class="b-services__box">
            <h1 class="b-titleHome">  Dan Harmon</h1>
            <p>
                Dan Harmon (1973) es un guionista y animador estadounidense, co-creador de Rick y Morty y co-fundador de Channel 101, 
                una web sin ánimo de lucro a la que los participantes envían un cortometraje en el formato de un piloto de televisión
                de menos de cinco minutos de duración y que sirve de plataforma a sus creaciones y a las de nuevos cómicos. Todo eso sin 
                olvidar su imprescindible podcast semanal, Harmontown, que también es el nombre de un documental sobre la trayectoria de 
                este peculiar personaje.
            </p>
        </div>
        
    </div>
</section>
