

<!-- <div class="b-container">
    <div class="b-card" *ngFor= 'let data of episodesData'>
        <h2>{{data.name}}</h2>
        <p>{{data.air_date}}</p>
        <p>{{data.episode}}</p>
    </div>
</div> -->

<div class="b-cardContainer">
    <div class="b-card" *ngFor= 'let data of episodesData'>
        <div class="b-card--title">
            <h2>{{data.name}}</h2>
            <p>{{data.air_date}}</p>
            <p>{{data.episode}}</p>
        </div>
       
    </div>
</div>



