<!-- <nav class="b-navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/characters">Characters</a>
    <a routerLink="/locations">Locations</a>
    <a routerLink="/episodes">Episodes</a>
    <a routerLink="/about">About</a>
</nav>  -->




<div class="b-navContainer">
        
    <img class="b-navContainer--img" src="https://upload.wikimedia.org/wikipedia/en/c/c8/Rick_and_Morty_logo.png" alt="">
    <nav class="b-navbar">
        <a routerLink="/home">Home</a>
        <a routerLink="/characters">Characters</a>
        <a routerLink="/locations">Locations</a>
        <a routerLink="/episodes">Episodes</a>
        <a routerLink="/about">About</a>
    </nav> 
</div>