.b-navContainer{
  justify-content: space-around;
  align-items: flex-start;
}
.b-navContainer--img{
    display: block;
    margin: auto;
    height: 100px;
}

.b-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
    background-image: url(https://cdn.pixabay.com/photo/2016/09/08/20/52/starry-sky-1655503_960_720.jpg);
    position: sticky;
    top: 0;
    border: 2px solid black;
    border-radius: 10px;
    
}
.b-navbar :hover{
    box-shadow:  5px 5px 5px rgb(245, 243, 243);
}

.b-navbar a{
    text-decoration: none;
    color: white;
    padding: 0 2rem;
}

.b-navbar a:hover{
    background-color: white;
        color:black;
        box-shadow:  2px 2px 5px rgb(245, 243, 243);
        height: 25px;
        border: 2px solid black;
        border-radius: 5px;

}


