<div class="b-cardContainer">
    <div class="b-card" *ngFor = 'let data of list'>
        <div class="b-card--title">
        <h2>{{data.name}}</h2>
        <p>{{data.type}}</p>
        <p>{{data.dimension}}</p>
        </div>
       
    </div>
</div>


