.b-cardContainer{
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_960_720.jpg);
}

.b-card{
    display: flex;
    width: 100%;
    max-width: 50%;
    padding: 1.5rem;
    justify-content: center;
    height: auto;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
    background-image: url(https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg);
    background-size: cover;
    transition: all .8s;
    color: rgb(250, 250, 250);
}
.b-card:hover{
    background-position: left bottom;
    color: rgb(250, 250, 250);
    border: none;
    box-shadow: 0 0 20px rgb(7, 0, 0);
    background-image: url(https://cdn.pixabay.com/photo/2014/11/30/07/18/star-551238_960_720.jpg);
    font-family: 'Courier New', Courier, monospace;
}

.b-card--title{
    border-right: 1px #ddd;
    padding: 20px;
    text-align: center;
}

.b-card--img{
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    margin: 20px 30px;
    transition: .2s;
    height: 300px;
}







