/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_960_720.jpg);
}